.App {
  text-align: center;
}

.container{
    width: 50%;
    height : 200px;
    margin:auto;
    margin-top:20px;
    background-color:#58a9c4;
    text-align: center;
    padding:50px;
    font-size:60px;
    font-family: "Courier";
    font-weight: bold;
    color : #c9d9d9;
    border-radius: 10px;
}

.logo{
  width: 23%;
  height:100px;
  margin:50px auto;
  margin-bottom:10px;
  background-position: center;
  background: url(logoDrop.png) no-repeat;
}

.state {
  margin: auto;
  width:50%;
}

.list-container div{
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size:30px;
  padding-left : 10px;
}

.list-container div:hover{
   background-color:#c9d9d9;
   border-radius: 5px;
}

div{
  margin: auto;
  text-align: center;

}

.list-container{
  margin:auto;
  width:30%;
}

#titluLista{
  background-image: linear-gradient(#c9d9d9, #58a9c4);
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  padding:10px;
  color:#245073;
}

*:focus{
  outline:none;
}

#selectClasificare{
  margin: 10px;
  padding:5px;
  border-radius:5px;
  background-color:#c9d9d9;
}

#inputClasificare{
   margin: 10px;
   padding: 4px;
   width:300px;
   border-radius:5px;
   background-color:#c9d9d9;
}


#signInButton{
  display:block;
  margin:auto;
  background-color: #c9d9d9;
  color:#58a9c4;
  font-weight: bold;
  font-family: "Courier";
  padding: 5px;
  
  
}


